@font-face {
  font-family: 'permanent';
  src: url('~assets/fonts/permanent/PermanentMarker-Regular.woff2') format('woff2'),
  url('~assets/fonts/permanent/PermanentMarker-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
