.d-f-sa-c{
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.display-column-align-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.test-font{
  font-family: 'permanent';
}
